body {
  font-family: "Helvetica Neue", sans-serif !important;
	background-color: #000;
	color: #fff;
	font-size: 1.15em !important;
}

#logo {
  font-family: "Times New Roman" !important;
	font-size: 4em;
	margin-top: 30px;
	margin-bottom: 30px;
}

h4 {
	margin-bottom: -5px;
}

hr { 
	display: block;
	height: 1px;
  border: 0;
  border-top: 1px solid white;
  margin: 1em 0;
  padding: 0; 
}

a {
	color: #fff;
	text-decoration: none;
  font-weight: bold;
}

a:hover {
	text-decoration: none;
	background-color: #ffff00;
  color: #000;
}

button, button:focus{
  outline: none;
  background: transparent;
  border: 1px solid white;
  color: #fff;
  font-size: .9em !important;
  float: right;
  font-family: "Helvetica Neue", sans-serif !important;
  width: 5em;
  padding: .3em;
}

button:active{
  outline: none;
  background: transparent;
  border: 1px solid grey;
}

button:hover {
  background: #ffff00;
  color: #000;
  cursor: pointer;
}

.content {
  padding-bottom: 1em;
}